@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
* {
    box-sizing: border-box;
}
#app {
	background-color: #EDEEED;
}
body {
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}
.contactForm {
	padding-left: 40px;
	padding-top: 40px;
}
.contactForm input {
	height: 35px;
	margin: 0px 5px 0px 5px;
	padding: 0px 3px 0px 3px;
	border-radius: 3px;
	border-color: #95a5a6;
}
.contactForm input:focus {
	background-color: #ecf0f1;
}
.contactForm button {
	height: 35px;
	border-radius: 7px;
	padding-left: 10px;
	background-color: #00aced;
	width: 150px;
	font-weight: 700;
}
.contactItem {
	margin: 10px 0px 10px 0px;
	padding-bottom: 5px;
}